h2, p, h3, h6{
    font-family: "Montserrat";
}


h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}


.col-lg{
    background-color: grey;
}

.synopsis-body{
    margin-top: 1px;
}

.synopsis{
    width: 100%;
    margin-bottom: 1px;
}

.bouton{
    width: 200px;
    margin: 10px;
    margin-bottom: 20px;
}

.book-img{
  width: 100%;
}

.item-container{
  margin:10px;
}

.book-title{
  margin-bottom: 30px;
}
