{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
     {% for book in paperback_list %} 
    <div class="col-lg-3 col-md-4 mt-3 ml-3 mb-3">
      <img class="img-fluid" src="https://www.nicepng.com/png/detail/895-8959915_please-note-jk-rowling-harry-potter-book-cover.png" >
    </div> 
    <div class="col-lg-6 col-md-4 mt-3 ml-3 mb-3">
      <h2>{{book.title}}</h2>
      <p>By: {{book.author}}</p>
      <p>Synopsis: </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <P>Price: free</P>
      <p>ISBN: {{book.isbn}}</p>
      <p>Shared By: <a href="#">{{book.shared_by}}</a></p>
      <button type="button" class="btn btn-outline-primary btn-lg">Contact Owner</button>
    </div>
    {% endfor %}  
  </div>
  <hr>
</div>
{% endblock %}