{% extends "base.html" %} 
{% block title %} Search {% endblock %}
{% block content %}

<form action="/searchtest" method="POST">
    <form class="form-inline">
        
    <div class="form-row"></div>
      <div class="col-md-6 mb-3">
        <h4>Search</h4>
            <label for="ISBN">ISBN</label>
            <input type="text" class="form-control" id="ISBN" aria-describedby="ISBN" placeholder="Enter ISBN" name="ISBN" style="width:70%; " required>
     </div>

    <div class="col-md-6 mb-3">
       <label for="Booktitle">Book Title</label>
            <input type="text" class="form-control" id="Bookname" aria-describedby="Bookname" placeholder="Enter BookTitle" name="Bookname" style="width:70%; " required>
       </div>

    <button class="btn btn-primary" type="submit">
      Search
    </button>
    </form>
</form>
 


    <style>
        img {
              margin-left: auto;
              margin-right: auto;
        }
    </style>
    
    <img src={{image}} alt="User Image" id = 'BookImage' style="display:{{test}}">
    <p style="text-align : center">{{ text2 }}</p>
    <p style="text-align : center">{{ text }}</p>
    <p style="text-align : center">{{ url}}</p>
{% endblock %}