{% extends "base.html" %}

{% block content %}
    <h3 class="sharebook-title">Share Book</h3>
    <form class="share-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Author</label>
    <input type="text" class="form-control" id="title"  placeholder="Author">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">ISBN</label>
    <input type="text" class="form-control" id="title"  placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="number" class="form-control" id="Price" value="0" placeholder="Title">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Book (optional)</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Book Image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  
  <button type="submit" class="btn btn-primary">Share</button>
</form>
{% endblock %}